/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General content styles and layout */
@font-face {
  font-family: "Figtree";
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/Figtree-VariableFont_wght.woff2)
    format("woff2-variations");
}

:root {
  --yellow: rgb(244, 208, 78);
  --gray-950: rgb(17, 17, 17);
  --gray-500: rgb(107, 107, 107);
  --white: rgb(255, 255, 255);
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 0.875rem; /*  Fallback value: 0.875rem => 0.875 * 16px = 14px */
  font-size: clamp(0.75rem, 3.125vw + 0.031rem, 0.875rem);
  font-weight: 500;
  color: var(--gray-950);
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 24px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

/* Blog preview card */
.preview {
  background-color: var(--white);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 8px 8px black;
  max-width: 24rem;
  padding: 24px;
}

.preview > img {
  border-radius: 10px;
  margin-bottom: 24px;
}

p.topic {
  font-weight: 800;
  background-color: var(--yellow);
  width: fit-content;
  border-radius: 4px;
  padding: 4px 12px;
  margin-bottom: 12px;
}

.preview a {
  text-decoration: none;
  outline-color: transparent;
}

.preview a:link,
.preview a:visited {
  color: var(--gray-950);
}

.preview a:focus,
.preview a:hover,
.preview a:active {
  color: var(--yellow);
}

.preview h2 {
  font-size: 1.5rem; /* Fallback value */
  font-size: clamp(1.2rem, 7.5vw + -0.525rem, 1.5rem);
  font-weight: 800;
  margin: 12px 0;
}

.description {
  font-size: 1rem; /* Fallback value */
  font-size: clamp(0.84rem, 4vw + -0.08rem, 1rem);
  color: var(--gray-500);
  margin-bottom: 16px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 3em;
  aspect-ratio: 1;
}
.author p {
  font-weight: 800;
}

/* Footer */
footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
